<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Generator EKG</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <style>
        html{
            background-color:blanchedalmond;
        } 

        html {
            font-family: "Ubuntu Sans", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-variation-settings: "wdth" 100;
        }

        input {
            margin-bottom: 1%;
        }

    </style>
</head>
<body>
    <h1>Podaj parametry sygnału EKG:</h1>
    <form method="POST">
        <label for="time">Czas sygnału w sekundach:</label>
        <input type="text" id="time" name="time" value="10">
        <br>
        <label for="hr">Częstotliwość akcji serca w BPM:</label>
        <input type="text" id="hr" name="hr" value="60">
        <br>
        <label for="sr">Częstotliwość próbkowania w Hz:</label>
        <input type="text" id="sr" name="sr" value="256">
        <br>
        <label for="network_noise">Amplituda szumu od sieci elektrycznej:</label>
        <input type="text" id="network_noise" name="network_noise" value="0.005">
        <br>
        <label for="noise">Amplituda szumu losowego:</label>
        <input type="text" id="noise" name="noise" value="0.001">
        <br>
        <label for="breath_freq">Częstotliwość oddechu w Hz:</label>
        <input type="text" id="breath_freq" name="breath_freq" value="0.2">
        <br>
        <label for="breath_amp">Amplituda zakłóceń od oddechu:</label>
        <input type="text" id="breath_amp" name="breath_amp" value="0.001">
        <br>
        <button type="submit">Generuj sygnał</button>
    </form>
</body>
</html>